<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
</head>
<body>
    <p>Hello {{ user.username }},</p>

    <p>You have requested a password reset. Click the link below to reset your password:</p>

    <p><a href="{{ reset_url }}" target="_blank"><strong>Reset Your Password</strong></a></p>

    <p>If the above link doesn't work, copy and paste this URL into your browser:</p>
    <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>


    <p><strong>Note:</strong> This link will expire in <strong>30 minutes</strong>.</p>

    <p>If you did not request this, please ignore this email.</p>

    <p>Thank you,<br>The Blog Team</p>
</body>
</html>
